# Usage:  ansible-playbook eprs/edb-rs-02.config_eprs7.yml -i inventory.ini
# Usage:  ansible-playbook eprs/edb-rs-02.config_eprs7.yml -i inventory.ini --extra-vars "rsdata=/opt/edb/rsdata"

- hosts: eprs-all
  become: yes
  become_user: root
  become_method: sudo
  gather_facts: True

  tasks:
    - name: Setup Environment variables for working with RS Command Line Tools
      blockinfile:
        create: yes
        dest: /etc/profile.d/edb_rs_env.sh
        marker: "# {mark} Ansible Managed Environment Variables for EPRS7"
        block: |
          export NGXPASSPATH=/opt/edb/.ngxpass
          export EPRS_HOME=/usr/edb/rs-7.0
          export EPRS_CLIENT_CONFIG=/usr/edb/rs-7.0/client/etc
          export EPRS_SERVER_CONFIG=/usr/edb/rs-7.0/server/etc
          alias eprs_server='bash /usr/edb/rs-7.0/server/bin/runServer.sh'
          alias eprs_client='bash /usr/edb/rs-7.0/client/bin/runRepCLI.sh'

    - name: Update Firewall Rules to Allow EPRS communication
      firewalld:
        port: 2181/udp
        permanent: yes
        state: enabled

    - name: Update Firewall Rules to Allow EPRS communication
      firewalld:
        port: 2881/tcp
        permanent: yes
        state: enabled

    - name: Update Firewall Rules to Allow EPRS communication
      firewalld:
        port: 3881/tcp
        permanent: yes
        state: enabled

    - name: Update Firewall Rules to Allow EPRS communication
      firewalld:
        port: 8081-8082/tcp
        permanent: yes
        state: enabled

    - name: Create custom directory for Kafka Logs
      file:
        path: "{{ rsdata }}"
        state: directory
        owner: enterprisedb
        group: enterprisedb
        mode: 0700
      when: rsdata is defined

    - name: Remove default Kafka Log directory
      file:
        path: /var/lib/edb/rs/data/
        state: absent
      when: rsdata is defined

    - name: Create symbolic link from default Kafka Log Directory to custom to RSDATA
      file:
        src: "{{ rsdata }}"
        path: /var/lib/edb/rs/data
        owner: enterprisedb
        group: enterprisedb
        state: link
        mode: 0700
      when: rsdata is defined

    - name: Change CDC Compression Type in application.properties
      lineinfile:
        path: /usr/edb/rs-7.0/server/etc/application.properties
        regexp: 'cdc.compression.type='
        line: 'cdc.compression.type=lz4'

    - name: Change Snapshot Compression Type in application.properties
      lineinfile:
        path: /usr/edb/rs-7.0/server/etc/application.properties
        regexp: 'snapshot.compression.type='
        line: 'snapshot.compression.type=lz4'

    - name: Change publisher.batch.ms in application.properties
      lineinfile:
        path: /usr/edb/rs-7.0/server/etc/application.properties
        regexp: 'publisher.batch.ms='
        line: 'publisher.batch.ms=300'

    - name: Change subscriber.batch.size in application.properties
      lineinfile:
        path: /usr/edb/rs-7.0/server/etc/application.properties
        regexp: 'subscriber.batch.size='
        line: 'subscriber.batch.size=4500'

    - name: Change snapshot.buffer.size in application.properties
      lineinfile:
        path: /usr/edb/rs-7.0/server/etc/application.properties
        regexp: 'snapshot.buffer.size='
        line: 'snapshot.buffer.size=32'

    - name: Change poll.records in consumer.properties
      lineinfile:
        path: /usr/edb/rs-7.0/server/etc/consumer.properties
        regexp: 'max.poll.records='
        line: 'max.poll.records=4500'

    - name: Change heartbeat.interval.ms in consumer.properties
      lineinfile:
        path: /usr/edb/rs-7.0/server/etc/consumer.properties
        regexp: 'heartbeat.interval.ms='
        line: 'heartbeat.interval.ms=6000'

    - name: Change auto.offset.reset in consumer.properties
      lineinfile:
        path: /usr/edb/rs-7.0/server/etc/consumer.properties
        regexp: 'auto.offset.reset='
        line: 'auto.offset.reset=earliest'

    - name: Increase Zookeeper Session Timeout
      lineinfile:
        path: /usr/edb/rs-7.0/server/etc/server.properties
        regexp: 'zookeeper.session.timeout.ms='
        line: 'zookeeper.session.timeout.ms=60000'

    - name: Add Node IP to RS application.properties
      replace:
        path: /usr/edb/rs-7.0/server/etc/application.properties
        regexp: 'ngen.server.host=localhost'
        replace: 'ngen.server.host={{ansible_default_ipv4.address}}'

    - name: Don't stop RS on unique conflicts
      lineinfile:
        path: /usr/edb/rs-7.0/server/etc/application.properties
        regexp: 'unique.conflict.resolution.policy='
        line: 'unique.conflict.resolution.policy=SKIP'

    # - name: Increase Java Heap Size
    #  replace:
    #    path: /usr/edb/rs-7.0/server/etc/kafka-jvm-configs.properties
    #    regexp: 'heap.opts=-Xms1G -Xmx4G'
    #    replace: 'heap.opts=-Xms4G -Xmx8G'

    - name: Set buffer.memory in producer.properties of all EPRS servers.
      lineinfile:
        path: /usr/edb/rs-7.0/server/etc/producer.properties
        regexp: 'buffer.memory='
        line: 'buffer.memory=157286400'

    - name: Set max.request.size in producer.properties of all EPRS servers.
      lineinfile:
        path: /usr/edb/rs-7.0/server/etc/producer.properties
        regexp: 'max.request.size='
        line: 'max.request.size=157286400'

    - name: Change Compression Type in producer.properties
      lineinfile:
        path: /usr/edb/rs-7.0/server/etc/producer.properties
        regexp: 'compression.type='
        line: 'compression.type=lz4'